{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}

  {% if message %}
  <div class="alert alert-dark alert-dismissible text-center fade show m-0" role="alert">
    {{message}}
    <span class="close" data-dismiss="modal">&times;</span>
  </div>
  {% endif %}

  {% endfor %}
{% endif %}

<div class="recent-post">
  <img src="{% static 'images/sample_site.jpg' %}" alt="Background Image">

  <div class="left-section">
    <p><strong>Site of the Day</strong></p>
    <p>Posted : 08/04/2022</p>
  </div>

  <div class="container">

    <div class="site-info">
      <h2><strong>Site Name</strong></h2>
      <p>BY <span class="gold-txt">SHALYNE</span> WITH <span class="gold-txt">8.84</span></p>
    </div>

    <div class="ratings">

      <div class="rates-info">
        <p class="design-circle"><strong>7.84</strong></p>
        <p><strong>DESIGN</strong></p>
      </div>

      <div class="rates-info">
        <p class="usability-circle"><strong>7.74</strong></p>
        <p><strong>USABILITY</strong></p>
      </div>

      <div class="rates-info">
        <p class="content-circle"><strong>7.64</strong></p>
        <p><strong>CONTENT</strong></p>
      </div>

    </div>

  </div>

  <button class="visit-btn"><a href="">VISIT SITE</a></button>

</div>

<div class="website-section">
  <p>Posted Projects</p>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="{% static 'images/sample_site.jpg'%}" alt="Project Image">

        <div class="post-info">
          <h5>Site Name</h5>
          <p>Lorem ipsum dolor sit amet. 33
            impedit dolorem aut enim molestiae
            et sint nobis est sunt quis id ipsum
            fugit. Ut quibusdam quae!</p>
          <h6 class="date"><strong>DATE: </strong>08/04/2022</h6>

          <hr>

          <div class="more-info">
            <div class="dev-info">
              <img src="{% static 'images/person.jpeg'%}" alt="Developer Image">
              <p>Dev Name</p>
            </div>

            <a class="vote-btn" href="{% url 'singleProjectPage' %}">VOTE</a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <img src="{% static 'images/sample_site.jpg'%}" alt="Project Image">

        <div class="post-info">
          <h5>Site Name</h5>
          <p>Lorem ipsum dolor sit amet. 33
            impedit dolorem aut enim molestiae
            et sint nobis est sunt quis id ipsum
            fugit. Ut quibusdam quae!</p>
          <h6 class="date"><strong>DATE: </strong>08/04/2022</h6>

          <hr>

          <div class="more-info">
            <div class="dev-info">
              <img src="{% static 'images/person.jpeg'%}" alt="Developer Image">
              <p>Dev Name</p>
            </div>

            <a class="vote-btn" href="{% url 'singleProjectPage' %}">VOTE</a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <img src="{% static 'images/sample_site.jpg'%}" alt="Project Image">

        <div class="post-info">
          <h5>Site Name</h5>
          <p>Lorem ipsum dolor sit amet. 33
            impedit dolorem aut enim molestiae
            et sint nobis est sunt quis id ipsum
            fugit. Ut quibusdam quae!</p>
          <h6 class="date"><strong>DATE: </strong>08/04/2022</h6>

          <hr>

          <div class="more-info">
            <div class="dev-info">
              <img src="{% static 'images/person.jpeg'%}" alt="Developer Image">
              <p>Dev Name</p>
            </div>

            <a class="vote-btn" href="">VOTE</a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <img src="{% static 'images/sample_site.jpg'%}" alt="Project Image">

        <div class="post-info">
          <h5>Site Name</h5>
          <p>Lorem ipsum dolor sit amet. 33
            impedit dolorem aut enim molestiae
            et sint nobis est sunt quis id ipsum
            fugit. Ut quibusdam quae!</p>
          <h6 class="date"><strong>DATE: </strong>08/04/2022</h6>

          <hr>

          <div class="more-info">
            <div class="dev-info">
              <img src="{% static 'images/person.jpeg'%}" alt="Developer Image">
              <p>Dev Name</p>
            </div>

            <a class="vote-btn" href="">VOTE</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}