{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}

  {% if message %}
  <div class="alert alert-dark alert-dismissible text-center fade show m-0" role="alert">
    {{message}}
    <span class="close" data-dismiss="modal">&times;</span>
  </div>
  {% endif %}

  {% endfor %}
{% endif %}

<div class="recent-post">
  <!-- <img src="{% static 'images/sample_site.jpg' %}" alt="Background Image"> -->

  <img src="{{recent_project.image.url}}" alt="Background Image">


  <div class="left-section">
    <p><strong>Site of the Day</strong></p>
    <p>Posted : {{recent_project.date |date}}</p>
  </div>

  <div class="container">

    <div class="site-info">
      <h2><strong>{{recent_project.title}}</strong></h2>
      <p>BY <span class="gold-txt">{{recent_project.user.username |upper}}</span> WITH <span class="gold-txt">8.84</span></p>
    </div>

    <div class="ratings">

      <div class="rates-info">
        <p class="design-circle"><strong>7.84</strong></p>
        <p><strong>DESIGN</strong></p>
      </div>

      <div class="rates-info">
        <p class="usability-circle"><strong>7.74</strong></p>
        <p><strong>USABILITY</strong></p>
      </div>

      <div class="rates-info">
        <p class="content-circle"><strong>7.64</strong></p>
        <p><strong>CONTENT</strong></p>
      </div>

    </div>

  </div>

  <button class="visit-btn"><a href="{{recent_project.link}}">VISIT SITE</a></button>

</div>

<div class="website-section">
  <p>Posted Projects</p>

  <div class="container">
    <div class="row">
      {% if projects %}
        {% for project in projects %}
            <div class="col-md-3">
                    <a href="{% url 'singleProjectPage' project.id %}"><img src="{{project.image.url}}" alt="Project Image"></a>

                    <div class="post-info">
                      <h5>{{project.title}}</h5>
                      <p>{{project.description |truncatechars:100}}</p>
                      <h6 class="date"><strong>DATE: </strong>{{project.date |date}}</h6>

                      <hr>

                      <div class="more-info">
                        <div class="dev-info">
                          <img src="{{project.user.profile.profile_pic.url}}" alt="Developer Image">
                          <p>{{project.user.username |title}}</p>
                        </div>

                        <a class="vote-btn" href="{% url 'singleProjectPage' project.id %}">VOTE</a>
                      </div>
                    </div>

            </div>
        {% endfor %}
      {% else %}
        <h5 style="text-align: center;">There are no projects yet</h5>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}