{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}

  <div class="alert alert-dark alert-dismissible text-center fade show m-0" role="alert" style="margin-top: 30px;">
    {{message}}
    <span class="close" data-dismiss="modal">&times;</span>
  </div>

  {% endfor %}
{% endif %}

<!-- Profile Info Section -->
<div class="profile">
  <div class="container">
    <!-- <img src="{% static 'images/person.jpeg'%}" alt="Developer Image"> -->
    <img src="{{user.profile.profile_pic.url}}" alt="Developer Image">
    <p><strong>{{user.username}}</strong></p>
    <p>{{user.profile.bio}}</p>

    <!-- Edit Profile Button -->
    <button class="edit-profile-btn" data-toggle="modal" data-target="#updateProfileModal"><a>EDIT PROFILE</a></button>

    <!-- Change Profile Section -->
    <div class="modal" id="updateProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">UPDATE PROFILE</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="form-group">
                <label>Username</label><br>
                <div class="form-control">{{user_info_form.username}}</div>
              </div>

              <div class="form-group">
                <label>Email</label><br>
                <div class="form-control">{{user_info_form.email}}</div>
              </div>

              <div class="form-group">
                {{update_profile_form.bio.label}}
                <div class="form-control">{{update_profile_form.bio}}</div>
              </div>

              <div class="form-group">
                <label>Upload Profile Image</label>
                <div class="form-control">{{update_profile_form.profile_pic}}</div>
              </div>

              <button class="upload-btn" type="submit">UPDATE PROFILE</button>
            </form>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<hr class="h-line">

<!-- Profile Projects Section -->
<div class="website-section">
 
  <div class="header">
     <p>{{myProjects.count}} Projects</p>
     <p class="votes">10 Votes</p>
  </div>
 

  <div class="container">
    <div class="row">
      {% if myProjects %}
        {% for project in myProjects %}
          <div class="col-md-3">
            <a href="{% url 'singleProjectPage' project.id %}"><img src="{{project.image.url}}" alt="Project Image"></a>

            <div class="post-info">
              <h5>{{project.title}}</h5>
              <p>{{project.description |truncatechars:100}}</p>
              <h6 class="date"><strong>DATE: </strong>{{project.date |date}}</h6>

              <hr>

              <div class="votes-info">
                <i class="fas fa-star"></i><i class="fas fa-star"></i>
                <p>4 Votes</p>
              </div>
            </div>

          </div>
        {% endfor %}
      {% else %}
        <h5 style="text-align: center;">There are no projects yet</h5>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}