{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="single-project">
  <div class="container">
    <div class="card">
      <div class="header">
        <div class="dev-deets">
          <img src="{{project.user.profile.profile_pic.url}}" alt="Developer Image">
          <p>{{project.user.username |title}}</p>
        </div>
        <p><strong>Posted:</strong> {{project.date |date}}</p>
      </div>

      <div class="project-info">
        <img src="{{project.image.url}}" alt="Background Image">

        <div class="project-deets">
          <h2><strong>{{project.title}}</strong></h2>
          <p>BY <span class="gold-txt">{{project.user.username |upper}}</span> WITH <span class="gold-txt">8.84</span>
          </p>
        </div>
      </div>

      <div class="ratings">

        <div class="rates-info">
          <p class="design-circle"><strong>7.84</strong></p>
          <p><strong>DESIGN</strong></p>
        </div>

        <div class="rates-info">
          <p class="usability-circle"><strong>7.74</strong></p>
          <p><strong>USABILITY</strong></p>
        </div>

        <div class="rates-info">
          <p class="content-circle"><strong>7.64</strong></p>
          <p><strong>CONTENT</strong></p>
        </div>

        <div class="rates-info">
          <p class="average-circle"><strong>7.54</strong></p>
          <p><strong>AVERAGE</strong></p>
        </div>

      </div>

      <div class="description">
        <p>{{project.description}}</p>
      </div>

      <div class="voting">
        <div class="header">
          <p><strong>VOTES</strong></p>
          <p><strong>3 voter(s)</strong></p>
        </div>

        <hr>

        <div class="voter-info">
          <div class="dev-deets">
            <img src="{% static 'images/person.jpeg'%}" alt="Developer Image">
            <p>Dev Name</p>
          </div>

          <div class="ratings">
            <div class="rates-info">
              <p class="design-circle" style="width: 55px; height: 55px; padding: 8px;"><strong>7.84</strong></p>
              <p><strong>DESIGN</strong></p>
            </div>

            <div class="rates-info">
              <p class="usability-circle" style="width: 55px; height: 55px; padding: 8px;"><strong>7.74</strong></p>
              <p><strong>USABILITY</strong></p>
            </div>

            <div class="rates-info">
              <p class="content-circle" style="width: 55px; height: 55px; padding: 8px;"><strong>7.64</strong></p>
              <p><strong>CONTENT</strong></p>
            </div>

          </div>
        </div>

        <hr>

        <div class="voter-info">
          <div class="dev-deets">
            <img src="{% static 'images/person.jpeg'%}" alt="Developer Image">
            <p>Dev Name</p>
          </div>

          <div class="ratings">
            <div class="rates-info">
              <p class="design-circle" style="width: 55px; height: 55px; padding: 8px;"><strong>7.84</strong></p>
              <p><strong>DESIGN</strong></p>
            </div>

            <div class="rates-info">
              <p class="usability-circle" style="width: 55px; height: 55px; padding: 8px;"><strong>7.74</strong></p>
              <p><strong>USABILITY</strong></p>
            </div>

            <div class="rates-info">
              <p class="content-circle" style="width: 55px; height: 55px; padding: 8px;"><strong>7.64</strong></p>
              <p><strong>CONTENT</strong></p>
            </div>

          </div>
        </div>

        <hr>

      </div>

      <div class="add-votes">
        <div class="section-header">
          <hr class="horizontal">
          <p>Add Your Vote</p>
          <hr class="horizontal">
        </div>

        <form method="POST">
          {% csrf_token %}
          <p>Design</p>
          <div class="container">
            <div class="d-star-widget">
              <input type="radio" name="d-rate" value="10" id="d-rate-10" required>
              <label for="d-rate-10" class="fas fa-star"></label>              
              
              <input type="radio" name="d-rate" value="9" id="d-rate-9" required>
              <label for="d-rate-9" class="fas fa-star"></label>
              
              <input type="radio" name="d-rate" value="8" id="d-rate-8" required>
              <label for="d-rate-8" class="fas fa-star"></label>              
              
              <input type="radio" name="d-rate" value="7" id="d-rate-7" required>
              <label for="rate-7" class="fas fa-star"></label>
              
              <input type="radio" name="d-rate" value="6" id="d-rate-6" required>
              <label for="d-rate-6" class="fas fa-star"></label>
              
              <input type="radio" name="d-rate" value="5" id="d-rate-5" required>
              <label for="d-rate-5" class="fas fa-star"></label>

              <input type="radio" name="d-rate" value="4" id="d-rate-4" required>
              <label for="d-rate-4" class="fas fa-star"></label>
              
              <input type="radio" name="d-rate" value="3" id="d-rate-3" required>
              <label for="d-rate-3" class="fas fa-star"></label>
              
              <input type="radio" name="d-rate" value="2" id="d-rate-2" required>
              <label for="d-rate-2" class="fas fa-star"></label>
              
              <input type="radio" name="d-rate" value="1" id="d-rate-1" required>
              <label for="d-rate-1" class="fas fa-star"></label>
            </div>
          </div>

          <p style="margin-top: -30px;">Usability</p>
          <div class="container">
            <div class="u-star-widget">
              <input type="radio" name="u-rate" value="10" id="u-rate-10" required>
              <label for="u-rate-10" class="fas fa-star"></label>              
              
              <input type="radio" name="u-rate" value="9" id="u-rate-9" required>
              <label for="u-rate-9" class="fas fa-star"></label>
              
              <input type="radio" name="u-rate" value="8" id="u-rate-8" required>
              <label for="u-rate-8" class="fas fa-star"></label>              
              
              <input type="radio" name="u-rate" value="7" id="u-rate-7" required>
              <label for="u-rate-7" class="fas fa-star"></label>
              
              <input type="radio" name="u-rate" value="6" id="u-rate-6" required>
              <label for="u-rate-6" class="fas fa-star"></label>
              
              <input type="radio" name="u-rate" value="5" id="u-rate-5" required>
              <label for="u-rate-5" class="fas fa-star"></label>

              <input type="radio" name="u-rate" value="4" id="u-rate-4" required>
              <label for="u-rate-4" class="fas fa-star"></label>
              
              <input type="radio" name="u-rate" value="3" id="u-rate-3" required>
              <label for="u-rate-3" class="fas fa-star"></label>
              
              <input type="radio" name="u-rate" value="2" id="u-rate-2" required>
              <label for="u-rate-2" class="fas fa-star"></label>
              
              <input type="radio" name="u-rate" value="1" id="u-rate-1" required>
              <label for="u-rate-1" class="fas fa-star"></label>
            </div>
          </div>

          <p style="margin-top: -30px;">Content</p>
          <div class="container">
            <div class="c-star-widget">
              <input type="radio" name="c-rate" value="10" id="c-rate-10" required>
              <label for="c-rate-10" class="fas fa-star"></label>              
              
              <input type="radio" name="c-rate" value="9" id="c-rate-9" required>
              <label for="c-rate-9" class="fas fa-star"></label>
            
              <input type="radio" name="c-rate" value="8" id="c-rate-8" required>
              <label for="c-rate-8" class="fas fa-star"></label>              
              
              <input type="radio" name="c-rate" value="7" id="c-rate-7" required>
              <label for="c-rate-7" class="fas fa-star"></label>
              
              <input type="radio" name="c-rate" value="6" id="c-rate-6" required>
              <label for="c-rate-6" class="fas fa-star"></label>
              
              <input type="radio" name="c-rate" value="5" id="c-rate-5" required>
              <label for="c-rate-5" class="fas fa-star"></label>

              <input type="radio" name="c-rate" value="4" id="c-rate-4" required>
              <label for="c-rate-4" class="fas fa-star"></label>
              
              <input type="radio" name="c-rate" value="3" id="c-rate-3" required>
              <label for="c-rate-3" class="fas fa-star"></label>
              
              <input type="radio" name="c-rate" value="2" id="c-rate-2" required>
              <label for="c-rate-2" class="fas fa-star"></label>
              
              <input type="radio" name="c-rate" value="1" id="c-rate-1" required>
              <label for="c-rate-1" class="fas fa-star"></label>
            </div>
          </div>

          <button class="submit-btn" type="submit">SUBMIT VOTE</button>
        </form>
      </div>
    </div>


  </div>

</div>

{% endblock %}